<!DOCTYPE html>
<html>
<head><% include partials/head.ejs %> </head>
<body>	
	<div class = "navigation">
		<section>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="contact">Contact us</a></li>
			</ul>
		</section>
	</div>
	<h1>Home</h1>
</body>

</html> 